/*-------- CSS Reset --------*/

*{
    padding: 0;
    margin: 0;
    font-size: 100%;
    line-height: 1em;
}

body {
    width: 80%;
    max-width: 600px;
    margin: auto;
    background: #fafafa;
    color: #333;
  
}

/*-------- Typography --------*/ 

h1, h2, h3 {
    font-weight: normal;
    color: #8F0040;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
}
p, { font-family: 'Open Sans', sans-serif;}

p, blockquote {
    margin-bottom: 1em;
    line-height: 1.4;
}


h1 {font-size: 2.827em;
    margin-top: 1.5em;
}

h2 {font-size: 1.999em;
    margin-top: 1em;
    margin-bottom: 1em;
}

h3 {font-size: 1.414em;}

blockquote {
    font-size: 1.314em; 
    hanging-punctuation: first;
    text-indent: -0.02em;
}



blockquote cite { 
    font-size: 0.75em;
    color: #333

}

/*------- Footer ------*/

footer {
    text-align: center;
    font-size: 0.707em;
    padding: 2em 0;

}