/*-------- CSS Reset --------*/

*{
    padding: 0;
    margin: 0;
    font-size: 100%;
    line-height: 1em;
}

body {
    width: 80%;
    max-width: 600px;
    margin: auto;
    background: #fafafa;
    color: #333;
  
}

ol{
    text-align: center;
}

li {
    text-align: center;
    list-style-type: none;
}
/*-------- Typography --------*/ 

h1, h2, h3 {
    font-weight: normal;
    color: #8F0040;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
}
p, { 
    font-family: 'Open Sans', sans-serif;

}

p, blockquote {
    margin-bottom: 1em;
    line-height: 1.4;
}


h1 {font-size: 2.827em;
    margin-top: 1.5em;
}

h2 {font-size: 1.999em;
    margin-top: 1em;
    margin-bottom: 1em;
}

h3 {font-size: 1.414em;}

blockquote {
    font-size: 1.314em; 
    hanging-punctuation: first;
    text-indent: -0.02em;
}



blockquote cite { 
    font-size: 0.75em;
    color: #333;
}

/*----------------- FLEXBOX ------------------*/
    
article {
    display: flex;} 
   
   
.main { 
    flex: 3;
    padding-right: 1em }
   
aside { 
    flex: 1;  
    font-size: 1.00em;
    font-style: italic; 
    border-left: 1px solid rgb(226, 147, 187);
    padding-left: 1em}

/*--------STYLING LINKS-----*/
a { 
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #000000; 
    border-bottom: 1px solid;
}

/*------Navigation------*/

nav {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    background-color: #8F0040;
    padding: 1em 0;
    font-size: 0.75em;
}

nav ul {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav ul li {
    display: inline;
    margin: 30px;
}

nav a:link {
    color: #fafafa;
}
 
nav a:hover {
    border-bottom: none;
    color: #777777 
}

nav a:visited { 
    color: #fafafa; 
}

/*------- Footer ------*/

footer {
    text-align: center;
    font-size: 1.000em;
    padding: 2em 0 1em 0;

}

/*------------------- TABLE STYLING ---------------*/

table {
    margin: auto;
    display: table;
    border-collapse: collapse;
    border-spacing: 2px;
    margin-bottom: 2em;
    width: 100%;
}

caption {
    margin-bottom: 1.5em;
    text-transform: uppercase;
}

th {
    color: #fafafa;
    text-transform: uppercase;
    font-weight: normal;
    text-align: left;
    background: rgb(119, 31, 46);
}

th, td {
    padding: .6em; }

table, td   {
    background: rgb(250, 78, 93);
    border: 1px solid #fafafa;
}